<div class="w-50 mx-auto">
    <h1>Đặt lại mật khẩu</h1>
    <form action="" method="post">
        <div class="mb-3">
            <label for="">Password</label>
            <input 
                type="password" 
                class="form-control" 
                name="password" 
                placeholder="Enter password..."
                value="<%=req.old.email%>"
            >
            <span class="text-danger"><%=req.errors.password%></span>
        </div>
        <div class="mb-3">
            <label for="">Confirm password</label>
            <input 
                type="password" 
                class="form-control" 
                name="confirm" 
                placeholder="Confirm password..."
                value="<%=req.old.confirm%>"
            >
            <span class="text-danger"><%=req.errors.confirm%></span>
        </div>
        <div class="d-grid">
            <button class="btn btn-dark">Xác nhận</button>
            <a href="/auth/login" class="btn btn-secondary mt-2">Quay lại</a>
        </div>
    </form>
</div>