<!DOCTYPE html>
<html>
    <head>
        <title>Bao Anh</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <% if (msg.length) { %>
            <div class="alert alert-success">Hello <%=msg%>!</div>
        <% } %>
        <% if (user) { %>
            <a href="/profile" class="btn btn-success">Profile</a>
        <% }else { %>
            <a href="/login" class="btn btn-primary">Login</a>
        <% } %>
    </body>
</html>
