<h1>Profile</h1>
<h2>Chào mừng <%= user.username%></h2>
<a href="/" class="btn btn-primary">Trang chủ</a>
<a href="/edit-profile" class="btn btn-warning">Chỉnh sửa thông tin</a>
<a href="/devices" class="btn btn-success">Quản lí thiết bị</a>
<a href="/logout" class="btn btn-danger">Đăng xuất</a>