<div class="container w-50">
    <% if (!unlocked.length) { %>
        <h1>Nhập mật khẩu để mở liên kết</h1>
        <form action="" method="post" class="mt-3">
            <input type="password" class="form-control" name="password" placeholder="Enter password...">
            <button class="btn btn-success w-100 mt-3">Mở liên kết</button>
            <a href="/" class="btn btn-secondary w-100 mt-3">Quay lại</a>
        </form>
    <% }else { %>
        <div class="container w-50">
            <a href="<%=link.origin_link%>" class="btn btn-success w-100">
                Nhấn vào đây để tiếp tục
            </a>
            <td class="col-1 text-center">
                <a
                    class="btn btn-outline-success mt-3 w-100"
                    target="_blank"
                    onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250');
                     return false;
                    "
                    href="https://www.facebook.com/sharer/sharer.php?u=<%=fullUrl + 'short/' + link.link_id%>"
                >
                    Chia sẻ lên Facebook
                </a>
            </td>
            <button class="qr-btn btn btn-outline-success mt-3 w-100">Gửi tới điện thoại (QR Code)</button>
            <a href="/" class="btn btn-secondary mt-3 w-100">Rút gọn liên kết mới</a>
        </div>
        <style>
            .qr {
                position: fixed;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #00000080;
            }
            .qr > svg {
                width: 500px;
                height: 500px;
                z-index: -10;
            }
        </style>
        <div class="qr">
            <%-qr%>
        </div>

        <script>
            const qr = document.querySelector(".qr")
            const qrBtn = document.querySelector(".qr-btn")
            qr.style.display = "none"
            qr.onclick = () => qr.style.display = "none"
            qrBtn.onclick = () => qr.style.display = ""
        </script>
    <% } %>
</div>