<div class="w-50 container">
    <h1>Login</h1>
    <div class="row">
        <a href="/auth/google/redirect" class="btn btn-warning w-100">Login with Google</a>
        <btn class="btn btn-success w-100 mt-3" onclick="alert('Làm gì có =)))')">Login with QR code</btn>
    </div>
</div>