<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>Home</h1>
        <a href="/mail-form" class="btn btn-success">Gửi mail</a>
        <a href="/mail-histories" class="btn btn-warning">Lịch sử</a>
    </body>
</html>
