<div class="alert alert-warning">Logout à?</div>
<form action="" method="post">
    <button class="btn btn-danger">Ừ, logout đi</button>
    <a href="/profile" class="btn btn-secondary">Không, nhấn thử thôi</a>
</form>